#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  filter: drop-shadow(0 0 2em #646cffaa);
}

.square {
  height: 6em;
  width: 6em;
  padding: 1.5em;
  border: 2px solid #61dafbaa;
}

.square:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


