#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}
.board-row {
  
}

.square {
  overflow: hidden;
  height: 150px;
  width: 150px;
}
button {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  background-color: #d0c8c8;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:active {
  padding: 0;
}
.status {
  color: rgb(1, 1, 1);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}



